<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - [C-SHARP-DEMO]</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <!--<li>@*Html.ActionLink("[MCSD]"       , "_MCSD"        , "MCSD")*@</li>-->
                    <!--<li>@*Html.ActionLink("[C# SPEC]"    , "_CSharpSpec"  , "CSharpSpec")*@</li>-->
                    <li>@Html.ActionLink("[Demos]", "_DemosIndex", "Demos")</li>
                    <!--<li>@*Html.ActionLink("[About]"      , "About"        , "Home")</li>*@</li>-->
                    <!--<li>@*Html.ActionLink("[Contact]"    , "Contact"      , "Home")</li>*@</li>-->
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <dialog>
                <p>&copy; @DateTime.Now.Year - ASP.NET Application</p>
            </dialog>
            <div align="center">
                <!-- VERSION DEL APLICATIVO-->
                <p>
                    Aplicativo [C-SHARP-DEMO] - Version : @Exam70483Web.Controllers.HomeController.ApplicationVersion
                    <br />
                    Compatible con Google Chrome / Mozilla Firefox
                    <br />
                    Codigo Fuente Disponible <a href="javascript:void window.open('https://github.com/aperezNWO/CSharpDemo')" style="color: #1d539d">Aqui</a>
                </p>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jSignature")
    @RenderSection("scripts", required: false)
</body>
</html>
